version: '3'

services:
  spring:
    image: happyostrich/matchhere_spring
    build: ./backend
    container_name: spring
    networks:
      - match-network
    depends_on:
      - mysql
    ports:
      - 8080:8080
    environment:
      - TZ=Asia/Seoul
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/matching
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=madmin
  mysql:
    image: happyostrich/matchhere_mysql
    build: ./mysql
    container_name: mysql
    restart: always
    environment:
      - TZ=Asia/Seoul
      - MYSQL_DATABASE=matching
      - MYSQL_ROOT_PASSWORD=madmin
    ports:
      - 3306:3306
    networks:
      - match-network
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes: 
      - ./mysql/conf.d:/etc/mysql/conf.d
      # - ./mysql/data:/var/lib/mysql
      - ./mysql/init/:/docker-entrypoint-initdb.d/

  zookeeper:
    image: 'bitnami/zookeeper:latest'
    ports:
      - '2181:2181'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    networks:
      - match-network
  kafka:
    image: 'bitnami/kafka:latest'
    ports:
      - '9092:9092'
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    depends_on:
      - zookeeper
    networks:
      - match-network
  # zookeeper:
  #   image: confluentinc/cp-zookeeper:latest
  #   environment:
  #     ZOOKEEPER_CLIENT_PORT: 2181
  #     ZOOKEEPER_TICK_TIME: 2000
  #   ports:
  #     - 22181:2181
  # zookeeper:
  #   image: bitnami/zookeeper:latest
  #   environment:
  #     # - ZOOKEEPER_CLIENT_PORT=2181
  #     - ALLOW_ANONYMOUS_LOGIN=yes
  #   ports:
  #     - 2181:2181
  #   networks:
  #     - match-network
  # kafka:
  #   image: bitnami/kafka
  #   depends_on:
  #     - zookeeper
  #   ports:
  #     - 9092:9092
  #   environment:
  #     - KAFKA_BROKER_ID=1
  #     - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
  #     - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://127.0.0.1:9092
  #     - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
  #     - ALLOW_PLAINTEXT_LISTENER=yes
      # KAFKA_BROKER_ID: 1
      # - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      # - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9092
      # - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      # KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      # - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
  # redis:
  #   container_name: redis
  #   image: redis
  #   ports:
  #     - "6379:6379"
  #   environment:
  #     - TZ=Asia/Seoul
  #   networks:
  #     - match-network


networks:
  match-network:

# volumes:
#   mysql: {}
  # redis: {}
